[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
python-dotenv = "*"
black = "*"
pre-commit = "*"
boto3 = "*"
pyarrow = "*"
confluent-kafka = "*"

[dev-packages]

[requires]
python_version = "3.11"
